<%= link_to fa_icon('chevron-left')+' Retour à la liste', localisations_path, class: "btn btn-outline-primary" %>
<h1 class="text-center p-3">Ajout d'une nouvelle localisation</h1>

<%= render 'form', localisation: @localisation %>
