<%= link_to fa_icon('chevron-left')+' Retour à la liste', recettes_path, class: "btn btn-outline-primary" %>

<h1 class="text-center mb-3"><%= fa_icon("file-text") %> Modification de la fiche Recette</h1>

<%= render 'form', recette: @recette %>
