<div class="float-right">
  <%= link_to fa_icon("trash")+" Supprimer l'équipement", @equipement, class: "btn btn-outline-danger mt-1", method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<h1 class="text-center p-3">Modification de l'équipement <%= @equipement.nom %></h1>
<%= render 'form', equipement: @equipement %>
